@import 'variables';
@import 'overrides';

body {
  margin: 0;
  background-color: $mainBackground;
}

header {
  background-color: $headerBackground;
  padding: 1.5rem 2rem;
  img {
    max-width: 15vw;
    min-width: 200px;
  }
}

.flights {
  .main-image {
    width: 100%;
  }
}
.container {
  width:100%;
  margin-right: auto;
  margin-left: auto;
}

.flight-info {
  padding: 20px 24px;
  align-content: flex-start;
  background-color: $flightBackground;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
  overflow: hidden;
  margin: 10px 0;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  &:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%);
  }
}

.filters {
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 25%);
  border-radius: 8px;
  background-color: $filtersBackground;
  margin: 1rem 0;
  padding: 1.5rem;
}

.left-section, .right-section {
  display: flex;
}

.airports {
  display: flex;
}

.origin-date,
.destination-date,
.origin-airport,
.destination-airport {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.bold-15 {
  font-size: 1.5rem;
  font-weight: bold;
}

.bold-17 {
  font-size: 1.7rem;
  font-weight: bold;
}

.origin-airport {
}

.destination-airport {
  margin-left: 30px;
}
.flight-dates {
  display: flex;
  margin-left: 80px;
}
.origin-date {
}
.destination-date {
  margin-left: 30px;
}
.seats {
  display: flex;
  flex-flow: column;
  margin-right: 40px;
  align-items: left;
  justify-content: center;
  text-align: right;
  &.low-available {
    color: $seats;
  }
}


.price {
  color: $priceColor;
  min-width: 170px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $mainTextColor;
}

header {
  font-size: 1.5rem;
}

input, button {
  min-width: 0;
  width: 100%;
  line-height: 1.15;
  font-size: 1.5rem;
  background-color: $mainBackground;
  border: 1px solid $inputBorder;
  border-radius: 8px;
  height: 56px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  margin-bottom: 10px;
  outline: 0;
  &:focus {
    border: 1px solid $secondary;
  }
}

button {
  background-color: $secondary;
  color: $primary;
  font-size: 1rem;
  font-weight: bold;
  &.secondary {
    background-color: $secondary;
  }
  &.tertiary {
    background-color: $tertiary;
  }
}


@media (min-width:320px) {
  .container{
    max-width: 300px;
  }
}
@media (min-width:375px) {
  .container{
    max-width: 350px;
  }
}
@media (min-width:576px) {
  .container{
    max-width: 540px;
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width:992px) { 
  .container {
    max-width: 960px;
  }
}
@media (min-width:1200px) {
  .container { 
    max-width: 1140px;
  }
}
