.v-select, .v-select * {
  align-items: center;
  &.vs__search, .vs__search:focus {
    margin-top: 2px;
  }
  &.vs--open .vs__dropdown-toggle {
    border: 1px solid $secondary;
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
  }
  &::placeholder {
    color: $placeholderColor;
  }
}
.v-select .vs__dropdown-toggle{
  max-height: 56px;
  border-radius: 8px;
  background-color: $mainBackground;
}

.dp__input {
  border-radius: 8px !important;
  background-color: $mainBackground !important;
}
.dp__input_icon {
  top: 42% !important;
}

