$primary: #fff;
$secondary: #d41370;
$tertiary: #009DC4;

$mainBackground: #f8f9fa;
$mainTextColor: #2c3e50;
$headerBackground: $primary;
$filtersBackground: $primary;
$flightBackground: $primary;
$priceColor: $secondary;
$seats: #d04a00;
$inputBorder: #ced4da;
$placeholderColor: #929292;
